/**
 * Created by mawebley on 08/06/2020
 */
$brand-background: #000;
$brand-green: #28b517;
$brand-bg-blue: #95c8ff;
$brand-bg-grey: #e8e8e8;
$brand-bg-dark: #000;

// brand logos
$brand-logo: '../../../assets/images/corporate-brand.png';